{% if form.type == 1 %}
    <div class="row">
        <div class="col-12 col-sm-3">
            <input type="text" class="form-control mb-3" name="first_name" placeholder="Naam*" required/>
        </div>
        <div class="col-12 col-sm-3">
            <input type="text" class="form-control mb-3" name="last_name" placeholder="Achternaam*" required/>
        </div>
        <div class="col-12 col-sm-6">
            <input type="text" class="form-control mb-3" name="phone" placeholder="Telefoonnummer*" required/>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-6">
            <input type="text" class="form-control mb-3" name="postal_code" placeholder="Postcode*" required/>
        </div>
        <div class="col-12 col-sm-6">
            <input type="email" class="form-control mb-3" name="email" placeholder="E-mailadres"/>
        </div>
    </div>

{% else %}

    <div class="row">
        <div class="col-12 col-sm-6">
            <input type="text" class="form-control mb-3" name="first_name" placeholder="Naam*" required/>
        </div>
        <div class="col-12 col-sm-6">
            <input type="text" class="form-control mb-3" name="last_name" placeholder="Achternaam*" required/>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-6">
            <input type="text" class="form-control mb-3" name="phone" placeholder="Telefoonnummer*" required/>
        </div>
        <div class="col-12 col-sm-6">
            <input type="email" class="form-control mb-3" name="email" placeholder="E-mailadres"/>
        </div>
    </div>


    <div class="row mb-3">
        <div class="col-12 col-sm-6">
            <input type="text" class="form-control mb-3" name="address" placeholder="Straat en huisnummer*" required/>
        </div>
        <div class="col-12 col-sm-6">
            <input type="text" class="form-control mb-3" name="postal_code" placeholder="Postcode*" required/>
        </div>
    </div>

{% endif %}

<div class="row mb-3">
    <div class="col text-left">
        <label class="accept-terms">
            <input type="checkbox" class="konfAcceptTerms mr-1" name="accept_privacy_policy" value="1" required/>
            Ik heb kennis genomen van de {{ form.brand_name }} <a href="https://homesolutions.tkelevator.com/be-nl/disclaimer.html" target="_blank">"Privacy Verklaring"</a>
        </label>
    </div>
</div>