{% extends 'core/base.html' %}
{% load static sekizai_tags %}

{% block content %}
    <div id="lead-form">

        <div class="head">
            <div class="container">
                <h4 class="mb-2">{{ form.name }}</h4>
                <h5 class="mb-0">{{ form.subtitle}}</h5>
            </div>
        </div>

        <div class="body">
            <div class="container">

                <div class="stepper-wrapper d-none d-lg-flex">
                    {% for question in form.questions.all %}
                        <div class="stepper-item {% if forloop.first %}active{% endif %}">
                            <div class="step-counter">{{ forloop.counter }}</div>
                        </div>
                    {% endfor %}
                    <div class="stepper-item">
                        <div class="step-counter">{{ form.questions.count|add:1 }}</div>
                    </div>
                </div>

                <div class="carousel slide" data-ride="carousel" data-interval="false">

                    <form id="leadForm" method="POST">{% csrf_token %}
                        <input type="hidden" id="ip_address" name="ip_address" value=""/>

                        <div class="carousel-inner" role="listbox">

                            {% for question in form.questions.all %}
                                <div class="step step{{ forloop.counter }} {% if forloop.first %}active{% endif %}"
                                     data-step="{{ forloop.counter }}" {% if not forloop.first %}style="display: none{% endif %}">

                                    <div class="row mb-4">
                                        <div class="col">
                                            <h3>{{ forloop.counter }}. {{ question.name }}</h3>
                                        </div>
                                    </div>

                                    <div class="row justify-content-sm-center">
                                        {% for answer in question.answer_set.all %}
                                            <div class="col-12 col-sm-auto mb-4">
                                                <div class="module-border-wrap showNext" data-val="{{ answer.id }}">
                                                    <div class="module">
                                                        <div class="text-center w-100">
                                                            <img src="{{ answer.image.url }}" class="w-100 mb-3 w3-hover-opacity" style="object-fit: contain;" alt=""/>
                                                            <p class="answer mb-0">{{ answer.name }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <input type="hidden" name="answer" class="answer" value="" />
                                </div>

                            {% endfor %}

                            <div id="contact-data" class="px-2 step step{{ form.questions.count|add:1 }}" data-step="{{ form.questions.count|add:1 }}" style="display: none;">
                                <input type="hidden" id="input_gclid" name="gclid">
                                <div class="row mb-4">
                                    <div class="col">
                                        <h3>{{ form.contact_form_title }}</h3>
                                        <p>{{ form.contact_form_subtitle }}</p>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-12 text-left">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="man" required>
                                            <label class="form-check-label" for="inlineRadio1">Monsieur</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="women" required>
                                            <label class="form-check-label" for="inlineRadio2">Madame</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <input type="text" class="form-control mb-3" name="first_name" placeholder="Prénom*" required/>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <input type="text" class="form-control mb-3" name="last_name" placeholder="Nom*" required/>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-12 col-sm-6">
                                        <input type="email" class="form-control mb-3" name="email" placeholder="Email*" required />
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <input type="text" class="form-control mb-3" name="phone" placeholder="Nº tel*" required/>
                                    </div>

                                </div>

                                <div class="row mb-3">
                                    <div class="col-12 col-sm-6">
                                        <input type="hidden" name="source" id="source" value="">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col text-left">
                                        <label class="accept-terms">
                                            <input type="checkbox" class="konfAcceptTerms mr-1" name="accept_privacy_policy" value="1" required/>
                                            J’ai pris connaissance de la
                                            <a href="https://homesolutions.tkelevator.com/fr-fr/legalnotes.html" target="_blank">
                                                politique de confidentialité
                                            </a>
                                            de {{ form.brand_name }}
                                        </label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col text-center">
                                        <button class="btn btn-primary btn-lg btn-submit" type="submit">
                                            {{ form.contact_form_button_title }}
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div id="loader" style="display: none;">
                                <div class="row mb-4">
                                    <div class="col">
                                        <h3>...</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    {% addtoblock 'js' %}
        <script>
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const gclid = urlParams.get('gclid')
            if (gclid){
                document.getElementById('input_gclid').value = gclid;
            }
        </script>

    {% endaddtoblock %}

{% endblock %}
