{% extends 'core/base.html' %}
{% load static sekizai_tags %}

{% block content %}
    <div id="lead-form">

        <div class="head">
            <div class="container">
                <h4 class="mb-2 main-title">{{ form.name }}</h4>
                <h4 class="mb-2 contact-title" style="display: none;">{{ form.contact_title }}</h4>
                <h5 class="mb-0 main-title">{{ form.subtitle}}</h5>
                <h5 class="mb-0 contact-title" style="display: none;">{{ form.contact_subtitle}}</h5>
            </div>
        </div>

        <div class="body">
            <div class="container">

                <div class="stepper-wrapper d-none d-md-flex d-lg-flex">
                    {% for question in form.questions.all %}
                        <div class="stepper-item {% if forloop.first %}active{% endif %}">
                            <div class="step-counter">
                                <div class="step-counter-text">
                                    {{ forloop.counter }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="stepper-item">
                        <div class="step-counter">                            
                            <div class="step-counter-text">
                                {{ form.questions.count|add:1 }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel slide" data-ride="carousel" data-interval="false">

                    <form id="leadForm" method="POST">
                        {% csrf_token %}
                        <input type="hidden" id="ip_address" name="ip_address" value="" />
                    
                        <div class="carousel-inner" role="listbox">
                    
                            {% for question in form.questions.all %}
                            <div class="step step{{ forloop.counter }} {% if forloop.first %}active{% endif %}" data-step="{{ forloop.counter }}" {% if not forloop.first %}style="display: none{% endif %}">
                    
                                <div class="row mb-4">
                                    <div class="col">
                                        <h3>{{ forloop.counter }}. {{ question.name }}</h3>
                                    </div>
                                </div>
                    
                                <div class="row justify-content-sm-center">
                                    {% for answer in question.answer_set.all %}
                                    <div class="col-12 col-sm-auto mb-4">
                                        <div class="module-border-wrap showNext" data-val="{{ answer.id }}">
                                            <div class="module">
                                                <div class="text-center w-100">
                                                    <img src="{{ answer.image.url }}" class="w-100 mb-3 w3-hover-opacity" style="object-fit: contain;" alt="" />
                                                    <p class="answer mb-0">{{ answer.name }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <input type="hidden" name="answer" class="answer" value="" />
                            </div>
                    
                            {% endfor %}
                    
                            <div id="contact-data" class="px-2 step step{{ form.questions.count|add:1 }}" data-step="{{ form.questions.count|add:1 }}" style="display: none;">
                                <input type="hidden" id="input_gclid" name="gclid">
                                <div class="row mb-4">
                                   <div class="col-12">
                                    <div class="col">
                                        <h3>{{ form.contact_form_title }}</h3>
                                    </div>
                                   </div>

                                 
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="col-12 col-sm-12">
                                            <input type="text" class="form-control mb-3" name="first_name" placeholder="First Name*" required />
                                        </div>
                    
                                        <div class="col-12 col-sm-12">
                                            <input type="text" class="form-control mb-3" name="last_name" placeholder="Last Name*" required />
                                        </div>
                    
                                        <div class="col-12 col-sm-12">
                                            <input type="text" id="phone" class="form-control mb-3" name="phone" placeholder="(998) 999-0000*" required />
                                        </div>
                    
                                        <div class="col-12 col-sm-12">
                                            <input type="email" class="form-control mb-3" name="email" placeholder="Email*" required />
                                        </div>
                                        
                                    </div>
                    
                                     <div class="col-lg-6 col-sm-12">
                                      
                    
                                        <!-- <div class="col-12 col-sm-12">
                                            <input type="text" class="form-control mb-3" name="address" placeholder="Address*" required />
                                        </div> -->
                                        <!-- <div class="col-12 col-sm-12">
                                            <input type="text" class="form-control mb-3" name="postal_code" placeholder="Postcode*" required />
                                        </div> -->
                    
                                        <!-- <div class="col-12 col-sm-12">
                                            <input type="text" class="form-control mb-3" name="location" placeholder="Town*" required />
                                        </div> -->

                                      
                    
                                        <div class="col-12 col-sm-12">
                                            <select name="state" class="form-control mb-3" required>
                                                <option value="" disabled selected>Select State*</option>
                                                <option value="Alabama">Alabama</option>
                                                <option value="Alaska">Alaska</option>
                                                <option value="Arizona">Arizona</option>
                                                <option value="Arkansas">Arkansas</option>
                                                <option value="California">California</option>
                                                <option value="Colorado">Colorado</option>
                                                <option value="Connecticut">Connecticut</option>
                                                <option value="Delaware">Delaware</option>
                                                <option value="District of Columbia">District of Columbia</option>
                                                <option value="Florida">Florida</option>
                                                <option value="Georgia">Georgia</option>
                                                <option value="Hawaii">Hawaii</option>
                                                <option value="Idaho">Idaho</option>
                                                <option value="Illinois">Illinois</option>
                                                <option value="Indiana">Indiana</option>
                                                <option value="Iowa">Iowa</option>
                                                <option value="Kansas">Kansas</option>
                                                <option value="Kentucky">Kentucky</option>
                                                <option value="Louisiana">Louisiana</option>
                                                <option value="Maine">Maine</option>
                                                <option value="Maryland">Maryland</option>
                                                <option value="Massachusetts">Massachusetts</option>
                                                <option value="Michigan">Michigan</option>
                                                <option value="Minnesota">Minnesota</option>
                                                <option value="Mississippi">Mississippi</option>
                                                <option value="Missouri">Missouri</option>
                                                <option value="Montana">Montana</option>
                                                <option value="Nebraska">Nebraska</option>
                                                <option value="Nevada">Nevada</option>
                                                <option value="New Hampshire">New Hampshire</option>
                                                <option value="New Jersey">New Jersey</option>
                                                <option value="New Mexico">New Mexico</option>
                                                <option value="New York">New York</option>
                                                <option value="North Carolina">North Carolina</option>
                                                <option value="North Dakota">North Dakota</option>
                                                <option value="Ohio">Ohio</option>
                                                <option value="Oklahoma">Oklahoma</option>
                                                <option value="Oregon">Oregon</option>
                                                <option value="Pennsylvania">Pennsylvania</option>
                                                <option value="Rhode Island">Rhode Island</option>
                                                <option value="South Carolina">South Carolina</option>
                                                <option value="South Dakota">South Dakota</option>
                                                <option value="Tennessee">Tennessee</option>
                                                <option value="Texas">Texas</option>
                                                <option value="Utah">Utah</option>
                                                <option value="Vermont">Vermont</option>
                                                <option value="Virginia">Virginia</option>
                                                <option value="Washington">Washington</option>
                                                <option value="West Virginia">West Virginia</option>
                                                <option value="Wisconsin">Wisconsin</option>
                                                <option value="Wyoming">Wyoming</option>
                                            </select>
                                        </div>

                                        <div class="col-12 col-sm-12">
                                            <input type="text" class="form-control mb-3" name="zip_code" placeholder="ZIP Code*" required />
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col text-left">
                                                <label class="accept-terms">
                                                    <input type="checkbox" class="konfAcceptTerms mr-1" name="accept_privacy_policy" required value="1"/>
                                                    I have read  <a href="https://www.accessbdd.com/privacy-policy"target="_blank ">Privacy Policy</a> by TK Access Solutions Ltd
                                                </label>
                                            </div>
                                        </div>
                                         <div style="display: none;" class="col-12 col-sm-12">
                                            <textarea class="form-control mb-3" rows="12" name="additional_comments" placeholder="Additional Comments"></textarea>
                                        </div>
                    <!--
                                        <div class="col-12 col-sm-12">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="row mb-3">
                                                        <div class="col text-left">
                                                            <label class="accept-terms">
                                                                <input type="checkbox" class="konfAcceptTerms mr-1" name="accept_privacy_policy_tke" value="1" required />
                                                                I have read the privacy policy of <a href="https://homesolutions.tkelevator.com/uk-en/about-us/terms-and-conditions-2.html" target="_blank">TK Access Solutions Limited</a>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                               
                                            </div>
                                        </div>  -->
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary btn-submit" type="submit">
                                            {{ form.contact_form_button_title }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                    
                            <!-- Other form fields ... -->
                    
                            <div id="loader" style="display: none;">
                                <div class="row mb-4">
                                    <div class="col">
                                        <h3>...</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="lds-roller">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    

                </div>
            </div>
        </div>
    </div>

    {% addtoblock 'js' %}
        <script>
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const gclid = urlParams.get('gclid')
            if (gclid){
                document.getElementById('input_gclid').value = gclid;
            }

            document.getElementById('phone').addEventListener('input', function (e) {
                var x = e.target.value.replace(/\D/g, '').match(/(\d{0,3})(\d{0,3})(\d{0,4})/);
                e.target.value = '(' + x[1] + ') ' + x[2] + '-' + x[3] ;
            });


        </script>
    {% endaddtoblock %}


{% endblock %}
