{% extends 'core/base.html' %}
{% load static sekizai_tags %}

{% block content %}


    <div id="lead-form">
        <div class="body">
            <div class="container">
                <div class="d-flex align-items-center justify-content-center mb-5">
                    <img src="{% static 'core/images/Access_Homeglide_Icons_Screen_RGB_standard-black.png' %}" class="mr-5" width="100" alt="confirmation Thyssenkrupp lead form">
                    <div>
                        <h3 class="mb-3" style="font-size: 20px;">Your request has been sent!</h3>
                        <p class="mb-0" style="font-size: 18px;">We will contact you as soon as possible.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if form_answered.form.external_thank_you_page %}
        {% addtoblock 'js' %}
            <script>
                setTimeout(function() {
                    window.location.href = "{{ form_answered.form.external_thank_you_page }}";
                }, 1000);  // 1000 milliseconds (1 second) delay
            </script>
        {% endaddtoblock %}
    {% endif %}

{% endblock %}
