@font-face {
  font-family: tkefont;
  src: url(../fonts/TKEType-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: tkefont;
  src: url(../fonts/TKEType-RegularItalic.woff2);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: tkefont;
  src: url(../fonts/TKEType-Light.woff2);
  font-weight: 300;
}
@font-face {
  font-family: tkefont;
  src: url(../fonts/TKEType-LightItalic.woff2);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: tkefont;
  src: url(../fonts/TKEType-Medium.woff2);
  font-weight: 600;
}
@font-face {
  font-family: tkefont;
  src: url(../fonts/TKEType-MediumItalic.woff2);
  font-weight: 600;
  font-style: italic;
}
html,
body {
  height: 100%;
}
body {
  background-color: #ffffff;
}
html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}
.w-100 {
  width: 100%!important;
}
.h-100 {
  height: 100% !important;
}
#lead-form .head {
  position: relative;
  background-image: linear-gradient(to right top, #6700ac, #F26C08) !important;
  padding: 30px 15px;
  color: #ffffff;
}
#lead-form .head h4 {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}
#lead-form .head h5 {
  font-size: 13px;
  font-weight: 600;
}
#lead-form .body {
  position: relative;
  padding: 40px 0;
  background: #ffffff;
  text-align: center;
}
#lead-form .body h3 {
  color: #000000;
  font-size: 22px;
}
#lead-form .body p.answer {
  font-size: 14px;
}
#lead-form .body .accept-terms {
  font-size: 12px;
  font-weight: 400;
}
#lead-form .body .accept-terms input {
  position: relative;
  top: 1px;
}
#lead-form .body .btn-submit {
  width: 100%;
  font-size: 14px;
  font-weight: 600;
}
.btn-primary {
  background: #6700ac;
  border-color: #6700ac;
  color: white;
}
.btn-primary:hover {
  background: #A31AFF;
  border-color: #A31AFF;
}
.btn-primary:focus {
  background: #A31AFF;
  border-color: #A31AFF;
  box-shadow: none;
}
.btn-primary:active {
  background: #A31AFF;
  border-color: #A31AFF;
  box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: white;
  background-color: #A31AFF;
  border-color: #A31AFF;
  box-shadow: none;
}
a {
  color: #6700ac;
}
a:hover {
  text-decoration: none;
  color: #A31AFF;
}
.module-border-wrap {
  width: 175px;
  position: relative;
  background: linear-gradient(to right top, #6700ac, #F26C08);
  padding: 3px;
  margin: 0 auto;
  cursor: pointer;
}
.module {
  background: #ffffff;
  color: #000000;
  padding: 0 25px;
  height: 170px;
  display: flex;
  align-items: center;
}
.module img {
  height: 85px;
}
.module:hover {
  -webkit-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.8);
}
.module:hover img {
  filter: drop-shadow(2px 4px 6px black);
}
.product-suggested .title {
  font-size: 32px;
}
.product-suggested .product-suggested-content {
  margin: 0 auto;
  max-width: 640px;
}
.product-suggested .product-suggested-content .custom-border {
  width: 100%;
  height: 100%;
  position: relative;
  background: linear-gradient(to right top, #6700ac, #F26C08);
  padding: 2px;
  border-radius: 28px;
}
.product-suggested .product-suggested-content .custom-border img {
  border-radius: 25px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-suggested .product-suggested-content p {
  text-align: left;
  font-size: 12px;
}
@media (min-width: 576px) {
  .module {
    height: 190px;
  }
  .module img {
    height: 105px;
  }
  #lead-form .head h4 {
    font-size: 26px;
  }
  #lead-form .head h5 {
    font-size: 18px;
  }
  #lead-form .body {
    padding: 25px 15px;
  }
  #lead-form .body p.answer {
    max-width: 160px;
  }
  #lead-form .body .btn-submit {
    width: 520px;
    font-size: 16px;
    font-weight: 600;
  }
}

select{
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
  -moz-appearance: none; 
  -webkit-appearance: none; 
  appearance: none;
  /* and then whatever styles you want*/
  height: 30px; 
  width: 100px;
  padding: 5px;
}
/*# sourceMappingURL=main.css.map */