.stepper-wrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
@media (max-width: 768px) {
  .stepper-item {
    font-size: 14px;
  }
}
.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 2;
}
.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 2;
}
.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: white;
  margin-bottom: 6px;
  color: #6FA491;
  font-weight: 600;
  transform:rotate(45deg);
  border: 1px solid #6FA491;
}
.stepper-item .step-counter .step-counter-text{
  transform:rotate(-45deg);
}
.stepper-item.active {
  font-weight: bold;
}
.stepper-item.active .step-counter {
  background: #6FA491;
  transform:rotate(45deg);
  color: #fff;
}
.stepper-item.active .step-counter .step-counter-text{
  transform:rotate(-45deg);
}
.stepper-item.completed .step-counter {
  background: #6FA491;
  transform:rotate(45deg);
  color: #fff;
}
.stepper-item.completed .step-counter .step-counter-text{
  transform:rotate(-45deg);
}
.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #6FA491;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 3;
}
.stepper-item:first-child::before {
  content: none;
}
.stepper-item:last-child::after {
  content: none;
}
