<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Thyssenkrupp lead form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
        }

        .content {
            width: 100%;
            max-width: 600px;
        }
    </style>

</head>

<body style="margin: 0;padding-top: 10px;">

<table class="content" align="center" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;border: 2px solid #f1f1f1;width: 100%;max-width: 600px;">

    <tr>

        <td align="center" bgcolor="#D9DEE8" style="padding: 40px 0 30px 0;">

            <img src="https://d9hhrg4mnvzow.cloudfront.net/treppenlift.thyssenkrupp-homesolutions.de/treppenlifte-w/9120bec0-logo17_000000000000000000028.png" alt="Thyssenkrupp logo" width="300" height="auto" style="display: block;">

        </td>
    </tr>

    <tr>

        <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">

            <table border="0" cellpadding="0" cellspacing="0" width="100%">

                <tr>

                    <td style="color: #595d6e; font-family: Arial, sans-serif; font-size: 24px; font-weight: bold;">

                        {% block title %}
                        {% endblock %}

                    </td>

                </tr>

                <tr>

                    <td style="padding: 20px 0 30px 0; color: #595d6e; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">

                        {% block content %}
                        {% endblock %}

                    </td>

                </tr>

            </table>

        </td>

    </tr>



</table>

</body>

</html>