{% extends 'core/emails/base.html' %}

{% block title %}New Lead{% endblock %}

{% block content %}
    <p>A new Lead has been registered, here are the details:</p>

    <br>

    <p style="font-weight: 600;">Contact details</p>

    <table style="text-align: left; border: 1px solid #808080;">
        <thead>
            <tr>
                <th style="border: 1px solid #808080; padding: 5px;">Field</th>
                <th style="border: 1px solid #808080; padding: 5px;">Answer</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td style="border: 1px solid #808080; padding: 5px;">First name</td>
                <td style="border: 1px solid #808080; padding: 5px;">{{ lead.first_name }}</td>
            </tr>

            <tr>
                <td style="border: 1px solid #808080; padding: 5px;">Last name</td>
                <td style="border: 1px solid #808080; padding: 5px;">{{ lead.last_name }}</td>
            </tr>

            {% if lead.gclid %}
                <tr>
                    <td style="border: 1px solid #808080; padding: 5px;">gclid</td>
                    <td style="border: 1px solid #808080; padding: 5px;">{{ lead.gclid }}</td>
                </tr>
            {% endif %}

            <tr>
                <td style="border: 1px solid #808080; padding: 5px;">Email</td>
                <td style="border: 1px solid #808080; padding: 5px;">{{ lead.email }}</td>
            </tr>

            <tr>
                <td style="border: 1px solid #808080; padding: 5px;">Telephone number</td>
                <td style="border: 1px solid #808080; padding: 5px;">{{ lead.phone }}</td>
            </tr>

            <tr>
                <td style="border: 1px solid #808080; padding: 5px;">Address</td>
                <td style="border: 1px solid #808080; padding: 5px;">{{ lead.address }}</td>
            </tr>

            <tr>
                <td style="border: 1px solid #808080; padding: 5px;">Postcode</td>
                <td style="border: 1px solid #808080; padding: 5px;">{{ lead.postal_code }}</td>
            </tr>

            <tr>
                <td style="border: 1px solid #808080; padding: 5px;">Town</td>
                <td style="border: 1px solid #808080; padding: 5px;">{{ lead.location }}</td>
            </tr>

            <tr>
                <td style="border: 1px solid #808080; padding: 5px;">Created</td>
                <td style="border: 1px solid #808080; padding: 5px;">{{ form.created }}</td>
            </tr>

            <tr>
                <td style="border: 1px solid #808080; padding: 5px;">IP address</td>
                <td style="border: 1px solid #808080; padding: 5px;">{{ form.ip_address }}</td>
            </tr>

            <tr>
                <td style="border: 1px solid #808080; padding: 5px;">Where did you hear about us?</td>
                <td style="border: 1px solid #808080; padding: 5px;">{{ lead.hear_from }}</td>
            </tr>

            <tr>
                <td style="border: 1px solid #808080; padding: 5px;">Approval of the privacy statement</td>
                <td style="border: 1px solid #808080; padding: 5px;">{% if form.accept_privacy_policy %}Si{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <br>
    <br>

    <p style="font-weight: 600; margin-bottom: 5px;">{{ form.form.name }}</p>
    <p style="margin-top: 0;">{{ form.form.subtitle }}</p>

    <table style="text-align: left;">
        <thead>
            <tr>
                <th style="border: 1px solid #808080; padding: 5px;">Question</th>
                <th style="border: 1px solid #808080; padding: 5px;">Answer</th>
            </tr>
        </thead>
        <tbody>
            {% for answer in form.answers.all %}
                <tr>
                    <td style="border: 1px solid #808080; padding: 5px;">{{ answer.question.name }}</td>
                    <td style="border: 1px solid #808080; padding: 5px;">{{ answer.name }}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}