{% extends 'core/emails/base.html' %}

{% block title %}Nuevo Lead{% endblock %}

{% block content %}
    <p>En ny kunde er registrert, her er informasjonen hans:</p>

    <br>

    <p style="font-weight: 600;">Kontaktinformasjon</p>

    <table style="text-align: left; border: 1px solid #808080;">
        <thead>
            <tr>
                <th style="border: 1px solid #808080; padding: 5px;">Attributter</th>
                <th style="border: 1px solid #808080; padding: 5px;">Respons</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td style="border: 1px solid #808080; padding: 5px;">Fornavn</td>
                <td style="border: 1px solid #808080; padding: 5px;">{{ lead.first_name }}</td>
            </tr>

            <tr>
                <td style="border: 1px solid #808080; padding: 5px;">Etternavn</td>
                <td style="border: 1px solid #808080; padding: 5px;">{{ lead.last_name }}</td>
            </tr>

            {% if lead.gclid %}
                <tr>
                    <td style="border: 1px solid #808080; padding: 5px;">gclid</td>
                    <td style="border: 1px solid #808080; padding: 5px;">{{ lead.gclid }}</td>
                </tr>
            {% endif %}

            <tr>
                <td style="border: 1px solid #808080; padding: 5px;">E-post</td>
                <td style="border: 1px solid #808080; padding: 5px;">{{ lead.email }}</td>
            </tr>

            <tr>
                <td style="border: 1px solid #808080; padding: 5px;">Telefonnummer</td>
                <td style="border: 1px solid #808080; padding: 5px;">{{ lead.phone }}</td>
            </tr>

            {% if lead.county %}
                <tr>
                    <td style="border: 1px solid #808080; padding: 5px;">fylke</td>
                    <td style="border: 1px solid #808080; padding: 5px;">{{ lead.county }}</td>
                </tr>
            {% endif %}

            <tr>
                <td style="border: 1px solid #808080; padding: 5px;">Dato</td>
                <td style="border: 1px solid #808080; padding: 5px;">{{ form.created }}</td>
            </tr>

            <tr>
                <td style="border: 1px solid #808080; padding: 5px;">IP adresse</td>
                <td style="border: 1px solid #808080; padding: 5px;">{{ form.ip_address }}</td>
            </tr>

            <tr>
                <td style="border: 1px solid #808080; padding: 5px;">Godkjenning av personvernerklæring</td>
                <td style="border: 1px solid #808080; padding: 5px;">{% if form.accept_privacy_policy %}Si{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <br>
    <br>

    <p style="font-weight: 600; margin-bottom: 5px;">{{ form.form.name }}</p>
    <p style="margin-top: 0;">{{ form.form.subtitle }}</p>

    <table style="text-align: left;">
        <thead>
            <tr>
                <th style="border: 1px solid #808080; padding: 5px;">Spørre</th>
                <th style="border: 1px solid #808080; padding: 5px;">Respons</th>
            </tr>
        </thead>
        <tbody>
            {% for answer in form.answers.all %}
                <tr>
                    <td style="border: 1px solid #808080; padding: 5px;">{{ answer.question.name }}</td>
                    <td style="border: 1px solid #808080; padding: 5px;">{{ answer.name }}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}