{% load static %}
<div class="product-suggested custom-thankyou-content">
    {% if form.thank_you_title %}
        <h1 class="title mb-5">{{ form.thank_you_title }}</h1>
    {% endif %}

    {% if form.thank_you_image or form.thank_you_text %}
        <div class="product-suggested-content px-2 p-md-0">
            <div class="row">
                {% if not form.thank_you_text %}
                    <div class="col-12">
                        <div class="custom-border">
                            <img src="{{ form.thank_you_image.url }}" alt="{{ form.thank_you_title }}">
                        </div>
                    </div>

                {% elif not form.thank_you_image %}
                    <div class="col-12">
                        <p class="mb-0">
                            {{ form.thank_you_text|linebreaks }}
                        </p>
                    </div>

                {% else %}
                    <div class="col-12 col-md-5 mb-3 mb-md-0">
                        <div class="custom-border">
                            <img src="{{ form.thank_you_image.url }}" alt="{{ form.thank_you_title }}">
                        </div>
                    </div>
                    <div class="col-12 px-md-2 col-md-7">
                        <p class="mb-0">
                            {{ form.thank_you_text|linebreaks }}
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>
