{% load static %}
<div class="product-suggested mb-5">
    <h1 class="title mb-4">Tu silla Salvaescaleras ideal es la serie S100</h1>
    <div class="product-suggested-content px-2 p-md-0">
        <div class="row">
            <div class="col-12 col-md-5 mb-3 mb-md-0">
                <div class="custom-border">
                    <img src="{% static 'core/images/S100.jpg' %}" alt="Silla Salvaescaleras S100">
                </div>
            </div>
            <div class="col-12 px-md-2 col-md-7">
                <p class="mb-0">
                    La gama de <b>Sillas Salvaescaleras S100</b> está pensada para tramos de escaleras rectos.
                    <br><br>
                    Ergonómica, compacta y con un diseño moderno, la S100 le brinda una funcionalidad sin igual.
                    <br><br>
                    Dispone de un <b>amplio asiento acolchado</b> que garantiza una postura cómoda y ergonómica.
                    <br><br>
                    Gracias a sus apoyabrazos y reposapiés plegables <b>apenas ocupa espacio</b> en la escalera, dejando libre el paso al resto de los usuarios.
                    <br><br>
                    Se instala en pocas horas, sin reformas y es muy <b>fácil de manejar</b> y de mantener.
                </p>
            </div>
        </div>
    </div>
</div>