{% load static %}
<div class="product-suggested mb-5">
    <h1 class="title mb-4">Din ideelle trappeheis er S200-serien</h1>
    <div class="product-suggested-content px-2 p-md-0">
        <div class="row">
            <div class="col-12 col-md-5 mb-3 mb-md-0">
                <div class="custom-border">
                    <img src="{% static 'core/images/S200.jpg' %}" alt="Trappeheis S200">
                </div>
            </div>
            <div class="col-12 px-md-2 col-md-7">
                <p class="mb-0">
                    Utvalget av <b>Trappeheis S200 </b> er designet for alle typer stiger.
                    <br><br>
                    S200 har et <b>moderne og tidløst design</b> med et <b>bredt utvalg av
                    trekk og farger</b>. Den skiller seg ut for å være den mest kompakte på markedet når den er
                    brettet.
                    <br><br>
                    Takket være dens patenterte automatiske <b>nivellerings- og dreieteknologi</b> (ASL), de
                    stolen roterer og opprettholder den sikreste og optimale posisjonen gjennom hele
                    rute. Inkludert autosving ved stopp.
                    <br><br>
                    S200 har et bredt  <b>polstret sete</b> y og <b>rfotstøtte
                    ergonomisk</b> ccmed automatisk sammenleggbar høydejusterbar.
                </p>
            </div>
        </div>
    </div>
</div>