{% load static %}
<div class="product-suggested mb-5">
    <h1 class="title mb-4">Tu silla Salvaescaleras ideal es la serie S200</h1>
    <div class="product-suggested-content px-2 p-md-0">
        <div class="row">
            <div class="col-12 col-md-5 mb-3 mb-md-0">
                <div class="custom-border">
                    <img src="{% static 'core/images/S200.jpg' %}" alt="Silla Salvaescaleras S200">
                </div>
            </div>
            <div class="col-12 px-md-2 col-md-7">
                <p class="mb-0">
                    La gama de <b>Sillas Salvaescaleras S200</b> está pensada para todo tipo de
                    escaleras.
                    <br><br>
                    La S200 tiene un <b>diseño moderno</b> y atemporal con una <b>amplia variedad de
                    tapicerías y colores</b>. Destaca por ser la más compacta del mercado cuando esta
                    plegada.
                    <br><br>
                    Gracias su tecnología patentada de nivelación y <b>giro automático</b> (ASL), la
                    silla gira manteniendo la posición más segura y óptima durante todo el
                    recorrido. Incluyendo giro automático en las paradas.
                    <br><br>
                    La S200 cuenta con un amplio <b>asiento acolchado</b> y un <b>reposapiés
                    ergonómico</b> con plegado automático regulable en altura.
                </p>
            </div>
        </div>
    </div>
</div>