// STYLE A
//@color1: #00a0f0;
//@color2: #4B5564;
//@color3: #D9DEE8;
//@color4: #000000;
//@color5: #ffffff;
//@color6: #ffd200;

@colorB1: #434343;
@colorB2: #F26C08;
@colorB3: #C4C4C4;
@colorB4: #6700ac;
@colorB5: #A31AFF;
@color4: #000000;
@color5: #ffffff;
@color6: #ffd200;